:root {
  --color-1: #790d31;
  --color-1-0: #d61354; /* cuando los colores tienen estos nombres quiere decir que es clor pero mas claro */
  --color-2: #DD6E42;
  --color-3: #F94A29;
  --color-2-0: #DD6E4295;
  --color-3-0: #F94A2995;
  --color-4: #FCE22A;
  --color-5: #BEE7E8;
  --color-6: #30E3DF;
  --color-7: #000000;
  --color-8: #A9A9A9;
  ---color-9: #D2B48C;
  --color-10: #C0C0C0;
  --color-11: #FFD700;
  --color-12: #D3D3D3;
  --color-13: #FFFFFF;
  --color-14: #87CEEB;
  --color-15: #00CED1;
  --color-16: #00FF7F;
  --color-17: #7FFF00;
  --color-18: #FFE5B4;
  --color-19: #FF69B4;
  --color-20: #800080;
  --color-21: #FFA500;
  --color-22: #FF0000;
  --color-23: #FFFF00;
  --color-24: #00FF00;
  --color-25: #0000FF;
  --color-26: #E6E6FA;
}

.div-aside {
  background-color: rgb(170, 230, 205);
}

a.no-underline {
  text-decoration: none;
}

.div-aside img {
  max-width: 25%;
  margin: 10px;
  margin: auto;
  padding: auto;
}

.div-aside img:hover {
  animation: cambia-opacidad 1s infinite;
  background-color:var(--color-15);
  border-radius: 80%;
}

@keyframes cambia-opacidad {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.div-aside p{
  text-align: center;
  padding: 5%;
  color:var(--color-1);
}

.div-aside p:hover{
  color:var(--color-7);
}


/*
.div-aside {
  color: black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-image: url('/img/fondos/221895.jpg');
  border: 10px solid transparent;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "publicidad-1"
    "publicidad-2";
  max-width: 100%;
  max-height: auto;
}
*/

@media screen and (min-width:1920px){

} /* desktop de alta resolución: 1920 x 1080 */

@media screen and (min-width:768px) and (max-width:1024px){

} /* Tableta: 768 x 1024 */

@media screen and (max-width: 360px){

} /* Movil */