a.no-underline {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 10px;
  margin: auto;
  padding: auto;
}

/*
.div-aside {
  color: black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-image: url('/img/fondos/221895.jpg');
  border: 10px solid transparent;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "publicidad-1"
    "publicidad-2";
  max-width: 100%;
  max-height: auto;
}
*/

@media screen and (min-width:1920px){

} /* desktop de alta resolución: 1920 x 1080 */

@media screen and (min-width:768px) and (max-width:1024px){

} /* Tableta: 768 x 1024 */

@media screen and (max-width: 360px){

} /* Movil */