a.no-underline {
  text-decoration: none;
}


.div-aside {
  color: black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-image: url('/img/fondos/221895.jpg');
  border: 10px solid transparent;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "publicidad-1"
    "publicidad-2";
  max-width: 500px;
  max-height: auto;
}

.div-aside img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.publicidad-1 {
  grid-area: publicidad-1;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.publicidad-2 {
  grid-area: publicidad-2;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
