:root {
    --color-1: #790d31;
    --color-1-0: #d61354; /* cuando los colores tienen estos nombres quiere decir que es clor pero mas claro */
    --color-2: #DD6E42;
    --color-3: #F94A29;
    --color-2-0: #DD6E4295;
    --color-3-0: #F94A2995;
    --color-4: #FCE22A;
    --color-5: #BEE7E8;
    --color-6: #30E3DF;
    --color-7: #000000;
    --color-8: #A9A9A9;
    ---color-9: #D2B48C;
    --color-10: #C0C0C0;
    --color-11: #FFD700;
    --color-12: #D3D3D3;
    --color-13: #FFFFFF;
    --color-14: #87CEEB;
    --color-15: #00CED1;
    --color-16: #00FF7F;
    --color-17: #7FFF00;
    --color-18: #FFE5B4;
    --color-19: #FF69B4;
    --color-20: #800080;
    --color-21: #FFA500;
    --color-22: #FF0000;
    --color-23: #FFFF00;
    --color-24: #00FF00;
    --color-25: #0000FF;
    --color-26: #E6E6FA;
}

.calculadora {
    text-align: center;
    background-size:cover;
}

input {
    text-align: center;
    background-color: #d61354;
    border-color: #00FF00;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    animation-name: animacion1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacion1 {
    from {
    transform:translate3d(300px);
    }
    to {
    transform:translate3d(-300px);
    }
  }

input:hover {
    background-color:var(--color-20);
    color: var(--color-26);
    border-color:var(--color-4);
    border-radius:100% ;
}

button {
    text-align: center;
    background-color: #d61354;
    border-color: #00FF00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(300px);
    }
  }

button:hover {
    background-color:var(--color-13);
    border-color:var(--color-4);

}

.resultado {
    font-size: 80px;
    color:var(--color-7);
}

.resultado:hover {
    font-size: 120px;
    color:var(--color-);
}