.div-header {
    grid-area: header;
    background-image: url('/img/fondos/221807.jpg');
    box-shadow: auto rgba(0, 0, 0, 0.3);
    border: auto solid #7a7777;
    border-radius: 10px;
    /* Aqui encontraras el codigo del Logo */
    display: grid;
    grid-template-columns: 1fr 9fr ;
    grid-template-rows: auto;
    grid-template-areas:
    "logo titulo";
    padding: auto;
    margin: auto;
    width: auto;
    height: auto;
}

.logo{

}

.div-botones{
    padding: auto;
    margin: auto;
}

.titulo{
    padding: auto;
    margin: auto;
}

@media screen and (min-width:1920px){

  } /* desktop de alta resolución: 1920 x 1080 */

@media screen and (min-width:768px) and (max-width:1024px){

.logo {
  max-width: 150%;
  margin: 80px;
  margin: 0;
  padding: 0;
  width: 400% ;
  height: 100%;
}
} /* Tableta: 768 x 1024 */
  



@media screen and (max-width: 640px){
  .logo {
    max-width: 250%;
    margin: 80px;
    margin: 0;
    padding: 0;
    width: 400% ;
    height: 100%;
  }

  .titulo i {
    font-size: 3.0rem;
  }

}

@media screen and (max-width: 360px){

  .titulo i {
    font-size: 1.2rem;
  }


  .logo {
    max-width: 250%;
    margin: 80px;
    margin: 0;
    padding: 0;
    width: 400% ;
    height: 100%;
  }

}