
section {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 10fr;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    background-image: url('/img/fondos/221895.jpg');
    border: 10px solid transparent;
    border-image: url('/img/fondos/221910.jpg') 30% round;
    border-radius: 30px;
    padding: 2%;
}

hr {
    border-style: groove;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

@media screen and (min-width:1920px){

    }
     /* desktop de alta resolución: 1920 x 1080 */

@media screen and (min-width:768px) and (max-width:1024px){

  } /* Tableta: 768 x 1024 */

@media screen and (max-width: 360px){
    h1 {
        font-size: 0.9rem;
    }
}