.ContenedorPrincipal{
    background-color:aqua;

}

/* BARRA DE NAVEGACION SUPERIOR <topnav> */
/* ===================================== */

.topnav {
    background-color:yellowgreen;
    overflow: hidden;
}

/* <topnav> Estilo de links dentro de la Barra de Navegacion */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* <topnav> Estilo de links al pasar el cursor */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* <topnav> Estilo del link activo */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* BARRA DE ICONOS */
/* =============== */
/* https: //www.w3schools.com/howto/howto_css_icon_bar.asp */

.icon-bar {
    width: 100%;                /* Full-width */
    background-color: #555;   /* Dark-grey background */
    overflow: auto;             /* Overflow due to float */
}

.icon-bar a {
    float: left;                /* Float links side by side */
    text-align: center;         /* Center-align text */
    width: 20%;             /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0;            /* Some top and bottom padding */
    transition: all 0.3s ease;  /* Add transition for hover effects */
    color: white;             /* White text color */
    font-size: 36px;            /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000;
    /* Add a hover color */
}

.active {
    background-color: #04AA6D;
    /* Add an active/current color */
}