:root {
    --color-uno: #D61355;
    --color-dos: #F94A29;
    --color-tres: #FCE22A;
    --color-cuatro: #30E3DF;
    --color-cinco: #0F1020;
    --color-seis: #DD6E42;
    --color-siete: #BEE7E8;
}

* {
    padding: 5px;
    margin: 2px;
}


.div-header {
    display:flex;
    position: relative;
    background-image: linear-gradient(to bottom, var(--color-dos), var(--color-seis));
    /* background-color: var(--color-dos); */
    justify-content:center;
    padding: 1px;
    margin: 1px;

}

.div-botones{
    display:flex;
    position: relative;
    justify-content:space-between;
    padding: 0px;
    margin: 0px;
}

nav {
    position: fixed;
    top: 40px;
    bottom: 60px;
    left: -250px;
    width: 200px;
    height: 50vh;
    background-image: linear-gradient(to bottom, var(--color-dos), var(--color-seis));
    /*background: linear-gradient(to bottom, #ff0000, #ff9900, #ffff00, #33cc33, #0066ff, #cc33ff);*/

    transition: all 0.3s ease;
    border-radius: 8%;
    z-index: 1;

}

.div-article {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 90% 30%;
    grid-gap: 10px;
    width: 80%;
    margin: 0%;

}

section,
aside {

    padding: 20px 5px 1px 5px;
    margin-left: 10px;
    background-color: var(--color-seis);
} 

.div-footer{
    display:flex;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--color-dos), var(--color-seis));
    /*background-color: var(--color-dos);*/
    position: relative;
    justify-content:center;
    padding: 0;
    margin: 0;
}